html{
	color: gray;
	font-family: arial
}
#header{
	height: 100px;
	background-color: white;

}
#body{

}
#footer{
	height: 40px;
	background-color: #f2f2f2;
	position: absolute;
	bottom: 0;
	width: 100%;


}
#menu{
	position: absolute;
	right: 20px;
}
.menu-item{
	display: inline-block;
	padding: 15px 10px;

}
#body{
	text-align: center;
}
#search-wrapper{


}
#button-holder{

}
#left-footer{
	position: absolute;

}
#right-footer{
	position: absolute;
	right: 20px;

}
.input{
	border: 1px solid blue;
	width: 500px;
	height: 30px;
}